.pageWrapper {
    margin-top: 30px;
}

.page {
    margin: 5px;
    padding: 10px;
    border: 2px solid teal;
    color: teal;
    border-radius: 5px;
}

.page.active {
    background-color: teal;
    color: white;
}

